@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
    box-sizing: border-box;
}

@media only screen and (orientation: portrait) {
    html {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #root {
        min-width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
    }
    #controls {
        height: 120vh !important;
        display: flex;
        flex-direction: column;
        justify-content: start !important;
    }
    #clock-container {
        margin-top: 0 !important;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #control-playback-group {
        margin-top: 5vh;
    }
    #session-length,
    #break-length {
        font-size: 8vh !important;
    }
    #time-left {
        font-size: 15vh !important;
    }
    #timer-label {
        font-size: 6vh !important;
    }
    #session-label,
    #break-label {
        font-size: 4.5vh !important;
    }
    #reset {
        font-size: 5.5vh !important;
    }
    #start_stop,
    #stop {
        font-size: 5vh !important;
    }
    #break-increment,
    #break-decrement,
    #session-increment,
    #session-decrement {
        font-size: 8vh !important;
    }
    #time-input {
        padding-top: 5vh;
    }
}

/*Media queries for portrait background image*/

@media only screen and (max-device-width: 1651px) and (orientation: portrait) {
    body,
    html {
        background-image: url("https://res.cloudinary.com/deshlug3j/image/upload/v1533894979/Portrait/nathan-anderson-319341-unsplash_sg8op3_ar_16_9_c_fill_g_auto__c_scale_w_2242.jpg") !important;
    }
}

@media only screen and (min-device-width: 1652px) and (max-device-width: 2420px) and (orientation: portrait) {
    body,
    html {
        background-image: url("https://res.cloudinary.com/deshlug3j/image/upload/v1533894989/Portrait/nathan-anderson-319341-unsplash_sg8op3_ar_16_9_c_fill_g_auto__c_scale_w_3323.jpg") !important;
    }
}

@media only screen and (min-device-width: 2421px) and (max-device-width: 3041px) and (orientation: portrait) {
    body,
    html {
        background-image: url("https://res.cloudinary.com/deshlug3j/image/upload/v1533894991/Portrait/nathan-anderson-319341-unsplash_sg8op3_ar_16_9_c_fill_g_auto__c_scale_w_4087.jpg") !important;
    }
}

@media only screen and (min-device-width: 3042px) and (max-device-width: 3592px) and (orientation: portrait) {
    body,
    html {
        background-image: url("https://res.cloudinary.com/deshlug3j/image/upload/v1533894995/Portrait/nathan-anderson-319341-unsplash_sg8op3_ar_16_9_c_fill_g_auto__c_scale_w_4760.jpg") !important;
    }
}

@media only screen and (min-device-width: 3593px) and (orientation: portrait) {
    body,
    html {
        background-image: url("https://res.cloudinary.com/deshlug3j/image/upload/v1533894999/Portrait/nathan-anderson-319341-unsplash_sg8op3_ar_16_9_c_fill_g_auto__c_scale_w_5365.jpg") !important;
    }
}

/*Media queries for landscape background image*/

@media only screen and (max-device-width: 1651px) and (orientation: landscape) {
    body,
    html {
        background-image: url("https://res.cloudinary.com/deshlug3j/image/upload/v1533894390/benjamin-voros-333663-unsplash_cvglvm_ar_16_9_c_fill_g_auto__c_scale_w_2421.jpg") !important;
    }
}

@media only screen and (min-device-width: 1652px) and (max-device-width: 2420px) and (orientation: landscape) {
    body,
    html {
        background-image: url("https://res.cloudinary.com/deshlug3j/image/upload/v1533894391/benjamin-voros-333663-unsplash_cvglvm_ar_16_9_c_fill_g_auto__c_scale_w_3042.jpg") !important;
    }
}

@media only screen and (min-device-width: 2421px) and (max-device-width: 3041px) and (orientation: landscape) {
    body,
    html {
        background-image: url("https://res.cloudinary.com/deshlug3j/image/upload/v1533894393/benjamin-voros-333663-unsplash_cvglvm_ar_16_9_c_fill_g_auto__c_scale_w_3593.jpg") !important;
    }
}

@media only screen and (min-device-width: 3042px) and (max-device-width: 3592px) and (orientation: landscape) {
    body,
    html {
        background-image: url("https://res.cloudinary.com/deshlug3j/image/upload/v1533894396/benjamin-voros-333663-unsplash_cvglvm_ar_16_9_c_fill_g_auto__c_scale_w_4098.jpg") !important;
    }
}

@media only screen and (min-device-width: 3593px) and (orientation: landscape) {
    body,
    html {
        background-image: url("https://res.cloudinary.com/deshlug3j/image/upload/v1533894396/benjamin-voros-333663-unsplash_cvglvm_ar_16_9_c_fill_g_auto__c_scale_w_4573.jpg") !important;
    }
}

body,
html {
    background-color: black;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    max-width: 37%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
}

/*Alignment*/

#controls {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#time-input,
#control-playback-group {
    display: flex;
    justify-content: space-around;
}

#control-session-group,
#control-break-group,
#start_stop,
#stop,
#reset {
    width: 50%;
}

#display {
    padding: 6vh 0;
    height: 33vh;
}

#session-label,
#break-label {
    padding: 1vh 0;
}

#start_stop,
#stop,
#reset {
    padding: 2vh 0;
}

#clock-container {
    margin-top: 10vh;
}

/*Fonts*/

#session-length,
#break-length {
    font-size: 6vh;
}

#time-left {
    font-size: 10vh;
    font-weight: 100;
}

#timer-label {
    font-size: 6vh;
}

#session-label,
#break-label {
    font-size: 3vh;
}

#reset {
    font-size: 4.5vh;
}

#start_stop,
#stop {
    font-size: 4vh;
}

#break-increment,
#break-decrement,
#session-increment,
#session-decrement {
    font-size: 6vh;
}

/*---------fa-icons*/

.f-a-button {
    opacity: 0.5;
    color: green;
}

.button-container:active {
    border: 1px solid green;
}

.hiviz-container {
    color: aqua;
}

.f-a-minus {
    opacity: 0;
    color: black;
}

/*Custom FOOTER*/

#my-footer {
    text-align: center;
    margin-bottom: 1vh;
}

#my-footer a {
    text-decoration: none;
    color: green;
    font-size: 5vh;
}

#control-session-group,
#control-break-group,
#control-playback-group,
#display {
    text-align: center;
}